@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@300&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: Poppins;
}

#areaname{
    border-radius: 8px;
}
#areatitle{
    border-radius: 8px;
}
/* add accreditation */
.button-area {
    --main-focus: #2d8cf0;
    --font-color: #323232;
    --bg-color-sub: #dedede;
    --bg-color: #eee;
    --main-color: #323232;
    position: relative;
    width: 140px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .button-area, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button-area .button__text {
    transform: translateX(18px);
    color: var(--font-color);
    font-weight: 600;
  }
  
  .button-area .button__icon {
    position: absolute;
    transform: translateX(98px);
    height: 100%;
    width: 40px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-area .svg {
    width: 20px;
    fill: var(--main-color);
  }
  
  .button-area:hover {
    background: var(--bg-color);
  }
  
  .button-area:hover .button__text {
    color: transparent;
  }
  
  .button-area:hover .button__icon {
    width: 145px;
    transform: translateX(0);
  }
  
  .button-area:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
  }