@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@300&display=swap');

body{
    padding: 0;
    margin: 0;
}
.table{
    overflow-x: auto;
}
.table th{
    text-align: center;
}
.table td{
    text-align: center;
}

/* add accreditation */
.button-program-level {
    --main-focus: #2d8cf0;
    --font-color: #323232;
    --bg-color-sub: #dedede;
    --bg-color: #eee;
    --main-color: #323232;
    position: relative;
    width: 170px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .button-program-level, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button-program-level .button__text {
    transform: translateX(22px);
    color: var(--font-color);
    font-weight: 600;
  }
  
  .button-program-level .button__icon {
    position: absolute;
    transform: translateX(128px);
    height: 100%;
    width: 40px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-program-level .svg {
    width: 20px;
    fill: var(--main-color);
  }
  
  .button-program-level:hover {
    background: var(--bg-color);
  }
  
  .button-program-level:hover .button__text {
    color: transparent;
  }
  
  .button-program-level:hover .button__icon {
    width: 185px;
    transform: translateX(0);
  }
  
  .button-program-level:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
  }